name: Scripts linter

on:
  push:
    branches:
      - '**'        # matches every branch
      - '!master'   # excludes master
    paths:
      - '**.sh'



jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
